@model Teacher

<h1> teachers information</h1>
<li>
first name = @Model.FirstName
</li>
<br/>
<li>
middel name = @Model.MiddelName
</li>

<a asp-action="Index" asp-controller="Teacher" >
    Back to Index
</a>