
@TempData["Error"]


<section class="vh-100" style="background-color: #b3e5fc; margin-top: -10px;">
    <div class="container h-100" style="margin-bottom: 100px;">
       
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px; margin-bottom: 100px;">
                   
                    <div class="card-body p-md-4">
                       
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5">

                                <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4">Sign up</p> 

                                <form asp-action="SignUp" asp-controller="Account" method="post" class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" id="FirstName" name="firstName" class="form-control" placeholder="Your FirstName" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" id="MiddleName" name="middleName" class="form-control" placeholder="Your MiddleName" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                       
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" id="LastName" name="lastName" class="form-control" placeholder="Your LastName" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" id="UserName" name="userName" class="form-control" placeholder="Your UserName" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                       
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="password" id="Password" name="password" class="form-control" placeholder="Your Password" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                       
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" id="PhoneNumber" name="phoneNumber" class="form-control" placeholder="Your PhoneNumber" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                       
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="email" id="email" name="email" class="form-control" placeholder="Email" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        
                                        <i class="fas fa-venus-mars fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <select id="GenderId" name="genderId" class="form-control" required>
                                                <option value="" disabled selected>Select your gender</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Register</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center">

                                <img src="~/images/draw1.webp" class="img-fluid" alt="Sample image" style="width : 800px; height : 500px;">

                               
             @* <img src="~/images/draw1.webp" /> *@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>