@model BM.Models.TenantType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TenantType</h4>
<hr />
<div class="alert alert-info" role="alert">
    Please make the necessary changes and click "Save" to update the Tenant Type.
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" onsubmit="return confirmSave();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function confirmSave() {
            return confirm("Are you sure you want to save the changes?");
        }
    </script>
}