@model BM.Models.Tenant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tenant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" title="Enter the tenant's name."></label>
                <input asp-for="Name" class="form-control" title="Enter the tenant's name." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label" title="Provide a brief description of the tenant."></label>
                <input asp-for="Description" class="form-control" title="Provide a brief description of the tenant." />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label" title="Enter a contact number for the tenant."></label>
                <input asp-for="Contact" class="form-control" title="Enter a contact number for the tenant." />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantTypeId" class="control-label" title="Select the type of tenant."></label>
                <select asp-for="TenantTypeId" class="form-control" asp-items="ViewBag.TenantTypeId" title="Select the type of tenant."></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label" title="Mark if the tenant is deleted.">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}