@model BM.Models.RoomPropertyTypeOption

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Room Property Type Option</h1>

<h4>RoomPropertyTypeOption</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <!-- Center the form using Bootstrap's grid system -->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RoomPropertyTypeId" class="control-label"></label>
                <select asp-for="RoomPropertyTypeId" class="form-control" asp-items="ViewBag.RoomPropertyTypeId"></select>
                <span asp-validation-for="RoomPropertyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsActive" />
                <label class="form-check-label" asp-for="IsActive">@Html.DisplayNameFor(model => model.IsActive)</label>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsDeleted" />
                <label class="form-check-label" asp-for="IsDeleted">@Html.DisplayNameFor(model => model.IsDeleted)</label>
            </div>

            <!-- New Featured Checkbox -->
           

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}