@model BM.Models.RoomProperty

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Room Property</h1>

<h4>RoomProperty</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomPropertyTypeId" class="control-label"></label>
                <select asp-for="RoomPropertyTypeId" class="form-control" asp-items="ViewBag.RoomPropertyTypeId"></select>
                <span asp-validation-for="RoomPropertyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsActive" />
                <label class="form-check-label" for="IsActive">
                    @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsDeleted" />
                <label class="form-check-label" for="IsDeleted">
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}