@model BM.Models.BuildingRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BuildingRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*  <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BuildingTypeId" class="control-label"></label>
                <select asp-for="BuildingTypeId" class ="form-control" asp-items="ViewBag.BuildingTypeId"></select>
            </div>
           @*  <div class="form-group">
                <label asp-for="RequestStatusId" class="control-label"></label>
                <select asp-for="RequestStatusId" class ="form-control" asp-items="ViewBag.RequestStatusId"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="RequestedDate" class="control-label"></label>
                <input asp-for="RequestedDate" class="form-control" />
                <span asp-validation-for="RequestedDate" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
