@model BM.Models.User

@{
    ViewData["Title"] = "Details";
}



<h2>Reset Password</h2>

<form asp-action="ResetPassword" asp-controller="Profile" method="post">
    <div>
        <label for="VerificationCode">Verification Code</label>
        <input type="text" name="verificationCode" required />
    </div>
    <div>
        <label for="Email">Email</label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label for="NewPassword">New Password</label>
        <input type="text" name="newPassword" required />
    </div>
    <div>
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="text" name="confirmPassword" required />
    </div>
    <button type="submit">Reset Password</button>
    </form>
